<h2>Editing Task</h2>

<hr>

<%= form_for([samurai, @task]) do |f| %>
  <%= render 'form', f: f %>
  
  <div class="form-group">
    <div>
      <%= f.submit "Update Task", class: "btn btn-primary" %>
      <%= link_to 'Back', samurai.tasks_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>